*{
    margin: 0;
    padding: 0;
    background-color: rgb(64, 63, 63);
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 620px;
    height: 770px;
    padding: 30px;
    margin: auto auto;
    margin-top: 100px;

    background-color: rgb(40, 39, 33);
    border: 4px solid rgb(34, 20, 6);
    
}
button{
    width: 140px;
    height: 140px;

    color:ghostwhite;
    background-color: rgb(64, 63, 63);

    font-size: 36px;
}

.display{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 120px;

    background-color: rgba(24, 171, 171, 0.381);
}

.display-text{
    font-size: 52px;

    padding-right: 10px;

    background-color: rgba(1, 207, 207, 0);
}

.keys-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: rgb(40, 39, 33);
}

.action-keys{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(51, 48, 48);

    height: 100px;
    padding: 20px;
    padding-left: 30px;   
}

.action-div{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 30px;
    
    background-color: rgb(51, 48, 48);
}

.onoff-key, .point-key, .clear-key, .equal-key{
    height: 100px;
    width: 120px;

    background-color: rgba(158, 83, 2, 0.85);
}

.equal-key{
    width: 100px;
}

.math-key{
    display: flex;
    justify-content: space-between;

    padding: 20px;
    
    background-color: rgb(85, 50, 30);
}

.number-keys-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.num-col{
    display: flex;
    gap: 10px;
}
.number-keys-container, .num-col{
    background-color: rgb(85, 50, 30);
}

.operator-keys-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: rgb(85, 50, 30);

}
.add-key, .substract-key, .multiple-key, .divide-key{
    width: 102px;
    height: 102px;
}